body    {

    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serifs;
   background-repeat: no-repeat;
   background-image: url(imagenes/fondo2.png);
   color:black;
   background-size: 1400px;

  
 

}
 .color {

    font-family: Georgia, 'Times New Roman', Times, serif;
}